
h1{
  color: white;
  font-family: "AbrahamLincoln";
  text-transform: uppercase;
  text-align: center;
  padding-top: 137px;
 /* background-color: rgba(0, 0, 0, 0); */
}
.hero{
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.unity-rec {
border-style: solid;
border-width: 2px;
border-color: rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0);
position: absolute;
left: 881px;
top: 150px;
width: 154px;
height: 54px;
z-index: 136;
}
.phoneico {
  border-radius: 50%;
  background-color: rgb(255, 168, 0);
  position: absolute;
  left: 1829px;
  top: 246px;
  width: 45px;
  height: 45px;
  z-index: 144;
}
.phone-rec {
  background-color: rgb(255, 255, 255);
  opacity: 0.11;
  position: absolute;
  left: 1851px;
  top: -51px;
  width: 2px;
  height: 330px;
  z-index: 141;
}
.tbl1{
  display: table;
  margin: 0px auto;
}
ul.tbl1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
li{
  display: inline;
  text-align: center;
  padding: 16px;
}
/* .hero.section-1.hdr-sect1{
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
    display: inline-block;
} */
.hero.section-1{
  background: url("../img/background.png");
  /* position: absolute; */
  top: 1680px;
  width: 1920px;
  height: 1340px;
  left: 0px;
  /* no-repeat center center fixed; */
  opacity: 0.8;
}
.hero.section-2{
  background-color: rgb(105, 79, 202);
  top: 1680px;
  width: 1920px;
  height: 1340px;
  left: 0px;
}
.hero.section-3{
  background-color: green;
}
.hero.section-4{
  background-color: pink;
}
.hero.section-5{
  background-color: orange;
}
.hero.section-6{
  background-color: aqua;
}

footer{
  height:250px;
  width: 100%;
  background-color: black;
  color: white;
}
