body{
  /* background: url("../img/white_background.png"); */
  background-color: white;
  margin: 0px;
}
.hero{
  height: 100vh;
  width: 100%;
  /* margin: 0px;
  padding: 0px; */
}

.section-1{
  background: url("../img/background.png");
  top: 1680px;
  width: 1920px;
  height: 1951px;
  left: 0px;
}
.home-us{
  text-align: center;
}
.social-text{
  text-align: right;
  padding-top: 71px;
}
.home-us>a{
  color: white;
  font-size: 20px;
  font-family: "Abraham Lincoln";
  text-decoration: none;
  /* padding-top: 71px; */
  padding: 20px;
}

.section-1> h2{
  color: white;
  /* width: 120px;
  height: 31px;
  border: 1px solid #fff; */
  text-align: center;
  padding-top: 157px;
  /* left: 886px; */
}
.section-1>h1{
  text-align: center;
  font-size: 75px;
  font-family: "Abraham Lincoln";
  color: rgb(255, 168, 0);
  text-transform: uppercase;
  padding-top: 610px;
}

/* .scroll{
  font-size: 25px;
   font-family: "AbrahamLincoln";
   color: white;
   align-text: center;
} */
.section-1>p{
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "AbrahamLincoln";
  text-transform: uppercase;
  width: 1400px;
  padding-left: 200px;
  padding-top: 20px;
}
.section-1>pre{
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "AbrahamLincoln";
  padding-top: 115px;
}
/* .big-1{
  font-size: 250px;
  font-family: "AbrahamLincoln";
  color: rgb(255, 168, 0);
  text-transform: uppercase;
  /* margin-left: 387px; */
/* }  */
 .floating-box {
    float: left;
    width: 671px;
    height: 671px;
    margin-top: 160px;
    margin-left: 613px;
    border: 20px solid white;
  }
.big-1{
  font-size: 352px;
  font-weight: normal;
  font-family: "Abraham Lincoln";
  color: rgb(255, 168, 0);
  text-transform: uppercase;
  position: absolute;
  margin-left: 387px;
  margin-top: 560px
}
.hero.section-2{
  background-color: rgb(105, 79, 202);
  top: 1680px;
  width: 1920px;
  height: 1340px;
  left: 0px;
}
.section-2>h1{
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Abraham Lincoln";
  font-weight: normal;
  position: absolute;
  margin-left: 642px;
  margin-top: 25px;
  width: 430px;
}
.invent-small{
  font-size: 21px;
  font-weight: normal;
  font-family: "AbrahamLincoln";
  color: white;
  text-transform: uppercase;
  position: absolute;
  margin-top: 290px
  margin-left: 640px;
}
.hero.section-3{
  background-color: green;
}
.hero.section-4{
  background-color: pink;
}
.hero.section-5{
  background-color: orange;
}
.hero.section-6{
  background-color: aqua;
}

footer{
  height:250px;
  width: 100%;
  background-color: black;
  color: white;
}
